<%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <h1>403 Forbidden</h1>
        <p>You do not have access to this resource.</p>
    </main>
    <%- include('../partials/closer.ejs') %>