<%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <h1>500 An error occured on the server.</h1>
        <p>Try again later.</p>
    </main>
    <%- include('../partials/closer.ejs') %>